/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Alterado: to bottom faz o verde ficar em cima e o amarelo embaixo */
    /* Usei as cores oficiais: Verde (#008542) e Amarelo (#ffcc00) */
    background: linear-gradient(to bottom, #008542 0%, #00a859 40%, #ffcc00 100%);
    font-family: 'Segoe UI', Arial, sans-serif;
}

.card-petrobras {
    background: white;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    width: 350px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}

.check { 
    color: #008542; 
    font-size: 50px; 
    margin-bottom: 10px; 
}

h2 {
    font-size: 24px;
    color: #111;
    margin-bottom: 5px;
}

.status {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}

.token { 
    display: block;
    background-color: #f0fdf4;
    color: #008542;
    font-family: monospace;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 12px;
    border-radius: 6px;
    border: 1px dashed #008542;
    margin-bottom: 20px;
}

.timer { 
    color: #333; 
    font-weight: bold; 
    border-top: 1px solid #eee; 
    padding-top: 15px; 
    margin-bottom: 25px;
    font-size: 14px;
}

.btn-continuar {
    display: block;
    background: #008542;
    color: #fff;
    border: none;
    padding: 14px;
    border-radius: 6px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background 0.3s;
}

.btn-continuar:hover {
    background: #006b35;
}

.btn-voltar {
    background: transparent;
    border: 1px solid #d1d5db;
    color: #4b5563;
    padding: 10px;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
}
